@font-face {
    font-family: rust;
    src: url(../../assets/OTF/PantonRustHeavy-GrSh.otf);
}

@font-face {
    font-family: rust2;
    src: url(../../assets/OTF/PantonRustScrSmBold-Gr.otf);
}

@keyframes animate{
    0%{
        transform: translateY(0px) rotate(-5deg);
    }
    25%{
        transform: translateY(-20px) rotate(5deg);
    }
    50%{
        transform: translateY(0px) rotate(-5deg);
    }
    75%{
        transform: translateY(20px) rotate(5deg);
    }
    100%{
        transform: translateY(0px) rotate(-5deg);
    }

}

.board{
    position: absolute;
    width: 70%;
    height: 10%;
    top: 10%;
    left: 14%;
    transform: translate(-50%,-50%);
    background-image: radial-gradient(rgb(43, 20, 4),black);
    border-radius: 30px 5px 30px 5px;
    border-bottom: 7px transparent ridge;
    border-top: 7px transparent ridge;
    border-right: 5px black ridge;
    animation: animate 10s linear infinite;
}

.rope1{
    position: absolute;
    width: 15px;
    height: 105px;
    top: -3px;
    left: 30%;
    transform: rotate(20deg);
    border-left: 15px goldenrod dashed;
    background-color: transparent;
}

.rope2{
    position: absolute;
    width: 17px;
    height: 200px;
    height: 120px;
    top: -3px;
    left: 70%;
    transform: rotate(-10deg);
    border-right: 15px goldenrod dashed;
    background-color: transparent;
}

.board2{
    position: absolute;
    width: 60%;
    height: 10%;
    top: 10%;
    left: 15%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border-bottom: 7px rgb(43, 20, 4) ridge;
    border-top: 7px rgb(43, 20, 4) ridge;
    animation: animate 10s linear infinite;
}

.container{
    position : absolute;
    top : 50%;
    background-color: rgba(191, 212, 230,.2);
    transform: translate(-50%,-50%);
    font-size: 50pt;
    font-family: rust;
    width : 90px;
    height : 90px;
    border-radius: 50%;
    border-left: 4px rgba(4, 56, 90, 0.3) solid;
    border-bottom: 3px rgba(46, 119, 167, 0.2) ridge;
    color : cornsilk;
}


@media screen and (max-width: 992px) {

    .board{
        position: absolute;
        width: 90%;
        height: 5%;
        top: 10%;
        left: 8%;
        transform: translate(-50%,-50%);
        background-image: radial-gradient(rgb(43, 20, 4),black);
        border-radius: 30px 5px 30px 5px;
        border-bottom: 7px transparent ridge;
        border-top: 7px transparent ridge;
        border-right: 5px black ridge;
        animation: animate 10s linear infinite;
    }

    .board2{
        position: absolute;
        width: 80%;
        height: 5%;
        top: 10%;
        left: 7%;
        transform: translate(-50%,-50%);
        background-color: transparent;
        border-bottom: 7px rgb(43, 20, 4) ridge;
        border-top: 7px rgb(43, 20, 4) ridge;
        animation: animate 10s linear infinite;
    }

    .container{
        position : absolute;
        top : 50%;
        background-color: rgba(191, 212, 230,.2);
        transform: translate(-50%,-50%);
        font-size: 30pt;
        font-family: rust;
        width : 50px;
        height : 50px;
        border-radius: 50%;    
        color : cornsilk;
    }

    .rope1{
        position: absolute;
        width: 10px;
        height: 100px;
        top: -3px;
        left: 30%;
        transform: rotate(20deg);
        border-left: 15px goldenrod dashed;
        background-color: transparent;
    }
    
    .rope2{
        position: absolute;
        width: 12px;
        height: 100px;
        top: -3px;
        left: 70%;
        transform: rotate(-10deg);
        border-right: 15px goldenrod dashed;
        background-color: transparent;
    }

}  

.container:hover{
    box-shadow: 0 0 10px white;
}



.k1{
    left : 0%;
}

.u1{
    left : 10%;
}
.r1{
    left : 20%;
}
.u2{
    left : 30%;
}
.k2{
    left : 40%;
}
.s{
    left : 50%;
}
.h{
    left : 60%;
}
.e{
    left : 70%;
}
.t{
    left : 80%;
}
.r2{
    left : 90%;
}
.a{
    left : 100%;
}
.y21{
    left : 110%;
    color: rgb(226, 17, 56);
}




.center{
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}

.bob{
    position: absolute;
    top: 23%;
    left: 55%;
    visibility: visible;
    font-family: 'Monoton', cursive;
    color: violet;
    font-size: 30pt;
}

@media screen and (max-width: 992px){

    .bob{
        position: absolute;
        top: 35%;
        left: 55%;
        transform: translate(-50%,-50%);
        visibility: visible;
        font-family: 'Monoton', cursive;
        color: violet;
        font-size: 30pt;
    }

}

.bobs {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}


@keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px violet, 0 0 70px violet, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px violet, 0 0 35px violet, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

.flag{
    position: absolute;
    left: 17%;
    top: 25%;
}

ul{
    display: flex;
}

@font-face{
    font-family: aye;
    src: url(../../assets/Aye/Aye.ttf)
}

ul li{
    list-style-type: none;
    width: 16px;
    height: 50px;
    font-family: rust2;
    font-size: 20pt;
    background-color: whitesmoke;
    border-radius: 2px;
    box-shadow: -1px 0 2px rgba(0,0,0,.2);
    animation: flag 10s linear infinite;   
}

@media screen and (max-width: 992px) {
    .flag{
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%,-50%);
    }

    ul li{
        list-style-type: none;
        width: 9px;
        height: 20px;
        font-family: rust2;
        font-size: 11pt;
        background-color: whitesmoke;
        border-radius: 2px;
        box-shadow: -1px 0 2px rgba(0,0,0,.2);
        animation: flag 10s linear infinite;   
    }
}

ul li:nth-child(15n+1){
    animation-delay: 0s;
}
ul li:nth-child(15n+2){
    animation-delay: -0.5s;
}
ul li:nth-child(15n+3){
    animation-delay: -1s;
}
ul li:nth-child(15n+4){
    animation-delay: -1.5s;
}
ul li:nth-child(15n+5){
    animation-delay: -2s;
}
ul li:nth-child(15n+6){
    animation-delay: -2.5s;
}
ul li:nth-child(15n+7){
    animation-delay: -3s;
}
ul li:nth-child(15n+8){
    animation-delay: -3.5s;
}
ul li:nth-child(15n+9){
    animation-delay: -4s;
}
ul li:nth-child(15n+10){
    animation-delay: -4.5s;
}
ul li:nth-child(15n+11){
    animation-delay: -5s;
}
ul li:nth-child(15n+12){
    animation-delay: -5.5s;
}
ul li:nth-child(15n+13){
    animation-delay: -6s;
}
ul li:nth-child(15n+14){
    animation-delay: -6.5s;
}
ul li:nth-child(15n+15){
    animation-delay: -7s;
}

@keyframes flag{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-5px);
        
    }
    50%{
        transform: translateY(0);        
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}

.marine1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 20%;
    animation: marine1 2s linear infinite;
}

@keyframes marine1{
    0%,100%{
        top: 65%;
    }
    50%{
        top: 66%;
    }
}

.marine1:hover{
    animation: none;
}

.marine2{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 40%;
    animation: marine2 2.5s linear infinite;
}

@keyframes marine2{
    0%,100%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(0deg);
    }
}

.marine3{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 48%;
    left: 80%;
    animation: marine3 3s linear infinite;
}


@keyframes marine3{
    0%,100%{
        left: 80%;
        top: 48%;
    }
    50%{
        left: 79%;
    }
    75%{
        top: 49%;
    }
}


.marine4{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 58%;
    animation: marine4 2s linear infinite;
}

@keyframes marine4{
    0%,100%{
        transform: rotateX(20deg);
    }
    50%{
        transform: rotateX(0deg);
    }
}


.namebox{
    color: rgb(194, 20, 20);
    background-color: cornsilk;
    border: 2px lightslategray ridge;
    border-radius: 0px 20px 0px 20px;
    font-family: rust2;
}

@media screen and (max-width: 992px){

    .marine1{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 75%;
        left: 50%;
        animation: marine1 2s linear infinite;
    }
    
    @keyframes marine1{
        0%,100%{
            top: 75%;
        }
        50%{
            top: 76%;
        }
    }
    
    .marine2{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 105%;
        left: 30%;
        animation: marine2 2.5s linear infinite;
    }
    
    @keyframes marine2{
        0%,100%{
            transform: rotate(3deg);
        }
        50%{
            transform: rotate(0deg);
        }
    }
    
    .marine3{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 160%;
        left: 50%;
        animation: marine3 3s linear infinite;
    }
    
    
    @keyframes marine3{
        0%,100%{
            left: 50%;
            top: 160%;
        }
        50%{
            left: 49%;
        }
        75%{
            top: 159%;
        }
    }
    
    
    .marine4{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 185%;
        left: 30%;
        animation: marine4 2s linear infinite;
    }
    
    @keyframes marine4{
        0%,100%{
            transform: rotateX(20deg);
        }
        50%{
            transform: rotateX(0deg);
        }
    }
    
    .namebox{
        color: rgb(194, 20, 20);
        background-color: cornsilk;
        border: 2px lightslategray ridge;
        border-radius: 0px 20px 0px 20px;
        font-family: rust2;
    }

}
