<div class="whole">
  <div class="rope1"></div>
  <div class="rope2"></div>
  <div class="board"></div>
  <div class="board2">
    <div class="container k1">
      <div class="center">k</div>
    </div>
    <div class="container u1">
      <div class="center">u</div>
    </div>
    <div class="container r1">
      <div class="center">r</div>
    </div>
    <div class="container u2">
      <div class="center">u</div>
    </div>
    <div class="container k2">
      <div class="center">k</div>
    </div>
    <div class="container s">
      <div class="center">s</div>
    </div>
    <div class="container h">
      <div class="center">h</div>
    </div>
    <div class="container e">
      <div class="center">e</div>
    </div>
    <div class="container t">
      <div class="center">t</div>
    </div>
    <div class="container r2">
      <div class="center">r</div>
    </div>
    <div class="container a">
      <div class="center">a</div>
    </div>
    <div class="container y21">
      <div class="center">21</div>
    </div>  
  </div>
  <div class="flag">
    <ul>
      <li>f</li>
      <li></li>
      <li></li>
      <li></li>
      <li>e</li>
      <li></li>
      <li></li>
      <li></li>
      <li>b</li>
      <li></li>
      <li>-</li>
      <li></li>
      <li>1</li>
      <li></li>
      <li>3</li>
      <li></li>
      <li></li>
      <li>t</li>
      <li>o</li>
      <li></li>
      <li>1</li>
      <li></li>
      <li>6</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div>
    <p align="center" class="bob" id="bob">
      Battle of Brains
    </p>
  </div>

  <div class="menus">
    <div class="marine1">
      <a href="#"><img src="../../assets/submarine.png" alt="" width="170px" height="170px"></a>
      <div class="namebox">
        <h4 align="center">Register</h4>
      </div>
    </div>
    <div class="marine2">
      <div class="namebox" *ngIf="x">
        <h4 align="center">Events</h4>
      </div>
    <a href="#"><img src="../../assets/submarine1.png" alt="" width="170px" height="170px"></a>
    <div class="namebox" *ngIf="!x">
      <h4 align="center">Events</h4>
    </div>
    </div>
    <div class="marine3">
      <a href="#"><img src="../../assets/submarine2.png" alt="" width="170px" height="170px"></a>
      <div class="namebox">
        <h4 align="center">Workshops</h4>
      </div>
    </div>
    <div class="marine4">
      
      <a href="#"><img src="../../assets/nautic.png" alt="" width="170px" height="170px"></a>
      <div class="namebox">
        <h4 align="center">E-Certificate</h4>
      </div>
    </div>
  </div>
  
</div>
