
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div *ngIf="l">
<div>
  <div class="logrope"></div>
  <div class="login">
    <a href="#"><img src="../assets/key.png" width="70px" height="100px" alt=""></a>
    <div class="namebox">
      <h4 align="center">Login</h4>
    </div>
  </div>
</div>
<div class="logos">
  <img src="../assets/mainPageLogo.png" width="250px" height="60px" alt="">
</div>
<div class="fish fish1">
    <img src="../../assets/fish.png" alt="" width="110px" height="110px">
</div>
<div class="fish fish2">
    <img src="../assets/fish1.png" alt="" width="120px" height="120px">
</div>
<div class="fish fish1a" *ngIf="!x">
  <img src="../../assets/fish.png" alt="" width="110px" height="110px">
</div>
<div class="fish fish2a" *ngIf="!x">
  <img src="../assets/fish1.png" alt="" width="120px" height="120px">
</div>
<div class="fish fish3">
  <img src="../assets/fish3.png" alt="" width="80px" height="70px">
</div>
<div class="beem b1"></div>
<div class="beem b2"></div>
<div class="footer">
    <div class="botrope"></div>
    <div class="lightbeem"></div>
    <div class="bottle">
      <br>
      <div>
        <a href="#"><img src="../../assets/twitt.png" width="40px" height="40px" alt=""></a>
      </div>
      <div style="padding: 5px;">
        <a href="#"><img src="../../assets/instagram.png" width="30px" height="30px" alt=""></a>
      </div>
      <div>
        <a href="#"><img src="../../assets/fb.png" width="40px" height="40px" alt=""></a>
      </div>
      <div style="padding: 5px;">
        <a href="#"><img src="../../assets/mail.png" width="30px" height="30px" alt=""></a>
      </div>
      <div>
        <a href="#"><img src="../../assets/utube.png" width="40px" height="40px" alt=""></a>
      </div>
      
    </div>
</div>

<app-main></app-main>
<div class="menuicon">
  <div class="center">
    <a href="#"><img src="../assets/menu.png" width="25px" height="25px" alt=""></a>
  </div>
</div>
</div>
<div class="preloader" *ngIf="!l">
  <div class="center">
    <h1>k!</h1>
  </div>
</div>
<router-outlet></router-outlet>
