@font-face {
    font-family: rust2;
    src: url(../assets/OTF/PantonRustScrSmBold-Gr.otf);
}

@font-face {
    font-family: rust;
    src: url(../assets/OTF/PantonRustHeavy-GrSh.otf);
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#14e9de,#0b8eaf,rgb(30, 55, 100));
}

.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
    border-left: 5px gray ridge;
    border-bottom: 4px lightslategray ridge;
}

@media screen and (max-width:992px){
    .preloader{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 40%;
        background-color: white;
        border-radius: 50%;
        border-left: 5px gray ridge;
        border-bottom: 4px lightslategray ridge;
    }    
}


.preloader h1{
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,.1);
    background-image: url(../assets/images.jpeg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: water 15s linear infinite;
}

@keyframes water{
    0%{
        background-position: left 0px top 80px;
    }
    40%{
        background-position: left 800px top -50px;
    }
    
}

.beem{
    position: absolute;
    width: 0;
    height: 0;
    left: 10%;
    top: -30%;
	border-left: 210px solid transparent;
	border-right: 210px solid transparent;
    border-bottom: 850px solid rgba(238, 227, 227,.1);
    overflow: hidden;
}

.b1{
    transform: rotateY(100deg) rotateX(10deg);
}

.b2{
    left: 6%;
    transform: rotateY(100deg) rotateX(0deg);
}

.fish{
    position: absolute;
    overflow: hidden;
}

.fish1{
    top: 75%;
    animation: swim 20s linear infinite;
}

.fish2{
    top: 80%;
    animation: swim2 15s linear infinite;
}

.fish1a{
    top: 175%;
    animation: swim 40s linear infinite;
}

.fish2a{
    top: 110%;
    animation: swim2 25s linear infinite;
}

.fish3{
    top: 30%;
    animation: swim3 19s linear infinite;
}

@keyframes swim{
    0%{
        transform: rotate(220deg) translateY(-30px);
        left: -20%;
    }
    25%{
        transform: rotate(210deg) translateY(0px);
    }
    50%{
        transform: rotate(210deg) translateY(30px);
    }
    75%{
        transform: rotate(225deg) translateY(0px);
    }
    100%{
        transform: rotate(220deg) translateY(-30px);
        left: 102%;
    }
}


@keyframes swim3{
    0%{
        transform:  translateY(-30px);
        left: 101%;
    }
    25%{
        transform:  translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    75%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-30px);
        left: -2%;
    }
}

@keyframes swim2{
    0%{
        transform: rotateZ(180deg) rotateX(180deg) translateY(-30px);
        left: 102%;
    }
    25%{
        transform: rotateZ(180deg) rotateX(180deg) translateY(0px);
    }
    50%{
        transform: rotateZ(180deg) rotateX(180deg) translateY(30px);
    }
    75%{
        transform: rotateZ(180deg) rotateX(180deg) translateY(0px);
    }
    100%{
        transform: rotateZ(180deg) rotateX(180deg) translateY(-30px);
        left: -5%;
    }
}

.botrope{
    position: fixed;
    width: 10px;
    height: 100%;
    top: 0%;
    left: 95%;
    z-index: 1;
    transform: translate(-50%,-50%);
    color: transparent;
    border-left: 10px rgb(26, 26, 51) dashed;
    animation: ropeswing 2s infinite;
}

@keyframes ropeswing{
    0%,100%{
        top: -1%;
    }
    50%{
        top: 0%;
    }
}

.bottle{
    position: fixed;
    width: 42px;
    height: 230px;
    top: 49%;
    background-color: white;
    padding: 5px;
    z-index: 1;
    border-radius: 62px 62px 12px 12px;
    border-top: 10px rgb(201, 6, 6) ridge;
    border-right: 4px rgba(0, 22, 36, 0.3) solid;
    border-bottom: 3px rgba(1, 16, 26, 0.2) ridge;
    animation: swing 3s infinite;
}

.bottle img:hover{
    position: relative;
    -webkit-animation: float .5s 2; 
    animation: float .5s 2;
  }
  
  @-webkit-keyframes float {
    0%{left: 1px;top: 1px}
    25%{left: -3px;top: -3px}
    50%{left: 2px;top: -3px}
    100%{left: -1px;top: 1px}
  }
  
  @keyframes float {
    0%{left: 1px;top: 1px}
    25%{left: -3px;top: -3px}
    50%{left: 2px;top: -3px}
    100%{left: -1px;top: 1px}
  }

@media screen and (max-width: 992px) {

    .botrope{
        position: absolute;
        width: 10px;
        height: 100%;
        top: 0%;
        left: 98.5%;
        transform: translate(-50%,-50%);
        color: transparent;
        border-left: 10px rgb(26, 26, 51) dashed;
        animation: ropeswing 2s infinite;
    }

    .bottle{
        position: absolute;
        width: 48px;
        height: 230px;
        top: 49%;
        left: 90%;
        background-color: white;
        border-radius: 62px 62px 12px 12px;
        border-top: 10px rgb(201, 6, 6) ridge;
        border-right: 4px rgba(0, 22, 36, 0.3) solid;
        border-bottom: 3px rgba(1, 16, 26, 0.2) ridge;
        animation: swing 3s infinite;
    }

}


@keyframes swing{
    0%,100%{
        transform: rotate(0deg);
        left: 93%;
    }
    25%{
        transform: rotate(5deg);
        top: 48%;
        animation-timing-function: cubic-bezier(.13,.84,.82,1);
    }
    50%{
        transform: rotate(-5deg);
        top: 48%;
        animation-timing-function: cubic-bezier(.13,.84,.82,1);
    }
    
}

.lightbeem{

    position: absolute;
    max-width: 250px;
    padding: 1rem;
    color: white;
    border-style: solid;
    width: 0;
    height: 0;
    right: 7%;
    top: 36%;
    border-image: linear-gradient(to bottom, violet, transparent);
    transform: rotate(120deg);
	border-left-width: 40px;
	border-right-width: 0px;
    border-bottom-width: 150px;
    visibility: hidden;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: onoff 1.5s 1;

}

@keyframes onoff{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: visible;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

.logrope{
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0%;
    left: 5%;
    transform: translate(-50%,-50%);
    color: transparent;
    border-left: 10px rgb(26, 26, 51) dashed;
    animation: ropeswing 2s infinite;
}

.login{
    position: absolute;
    left: 1.5%;
    top: 47%;
    animation: key 3s infinite;
}


@keyframes key{
    0%,100%{
        transform: rotateZ(-3deg);
    }
    50%{
        transform: rotateZ(2deg);
    }
    75%{
        transform: rotateZ(0deg);
    }
}

@media screen and (max-width: 992px){

    .logrope{
        position: absolute;
        width: 3.5px;
        height: 100%;
        top: 0%;
        left: 5%;
        transform: translate(-50%,-50%);
        color: transparent;
        border-left: 10px rgb(26, 26, 51) dashed;
        animation: ropeswing 2s infinite;
    }

    .login{
        position: absolute;
        top: 45%;
        left: -4%;
        animation: key 3s infinite;
    }
    
    @keyframes key{
        0%,100%{
            transform: rotateZ(-3deg);
        }
        50%{
            transform: rotateZ(2deg);
        }
        75%{
            transform: rotateZ(0deg);
        }
    }

    @keyframes ropeswing{
        0%,100%{
            top: -1%;
        }
        50%{
            top: 0%;
        }
    }
}

.namebox{
    color: rgb(194, 20, 20);
    background-color: cornsilk;
    border: 2px lightslategray ridge;
    border-radius: 0px 20px 0px 20px;
    font-family: rust2;
}

.menuicon{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 3%;
    left: 92%;
    z-index: 1;
    background-color: whitesmoke;
    border-radius: 50%;
    border-left: 5px gray ridge;
    border-bottom: 4px lightslategray ridge;
}


@media screen and (max-width:992px){
    .menuicon{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 3%;
        left: 90%;
        background-color: whitesmoke;
        border-radius: 50%;
        border-left: 5px gray ridge;
        border-bottom: 4px lightslategray ridge;
    }
    
}


.center{
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}