/* You can add global styles to this file, and also import other style files */
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    /*background-image: linear-gradient(to bottom,rgb(30, 55, 100),#0b8eaf, #14e9de);*/
    background-image: linear-gradient(to bottom,#14e9de,#0b8eaf,rgb(30, 55, 100));
    
}